.u-section-1 .u-sheet-1 {
  min-height: 635px;
}

.u-section-1 .u-image-1 {
  width: 448px;
  height: 600px;
  margin: 18px auto;
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 455px;
  }
}